@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
    font-family: 'Avenir';
    src: url('./assets/fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('./assets/fonts/AvenirLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirBold';
    src: url('./assets/fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('./assets/fonts/AvenirLTStd-Black.woff2') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


.menu-container:last-child span{
    background-color: transparent;
}

.copyrightMobile {
    font-size: 10px;
    line-height: 2;
}

.borderBottom{
    display: block;
    width: 100%;
    height: .5px;
    background-color: #ffffffb5;
}

.ftLinkMobile{
    font-family: 'AvenirBold', sans-serif;
    padding: 14.5px 0;
    font-weight: 900;
    font-size: 14px;
    text-transform: lowercase;
    line-height: 19px;
}

.toggleMenu{
    font-family: 'AvenirBold', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    margin-right: 10px;
}

footer{
    padding: 30px 15px 15px 15px;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Avenir' , sans-serif;
}

.menuFooterTitle{
    font-family: 'AvenirBold', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.menuFooterLinks{
    font-family: 'Avenir', sans-serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 19.12px;
    margin-bottom: 5px;
}


.footerCopyright{
    font-family: 'Avenir', sans-serif;
    font-weight: 100;
    font-size: 14px;
}

.submenu-container li{
    padding-bottom: 20px;
    padding-left: 20px;
    font-weight: 100;
    text-transform: lowercase;
    font-size: 14px;
    line-height: 19px;
}


.ftLinkMobile{
    position: relative;
    z-index: 9999;
    display: flex;
    align-items: center;
}

.open,.close{
    position: relative;
    overflow: hidden;
}

.collapse .close{
    transform: translateX(-20px);
    transition: transform .5s;
}


.collapse .open{
    transform: translateX(0);
    transition: transform .5s;
}
