@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    src: url('../src/assets/fonts/avenir.woff') format('woff');
}

.menu-container:last-child span{
    background-color: transparent;
}

.copyrightMobile {
    font-size: 10px;
    line-height: 2;
}

.borderBottom{
    display: block;
    width: 100%;
    height: .5px;
    background-color: white;
}

.ftLinkMobile{
    font-family: 'Avenir', sans-serif;
    padding: 14.5px 0;
    font-weight: 900;
}

footer{
    padding: 30px 15px 15px 15px;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Avenir' , sans-serif;
}

.menuFooterTitle{
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.menuFooterLinks{
    font-family: 'Avenir', sans-serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 19.12px;
    margin-bottom: 5px;
}


.footerCopyright{
    font-family: 'Avenir', sans-serif;
    font-weight: 100;
}
